*{
    margin: 0;
    box-sizing: border-box;
}

/* header */
.banner{
    background-color: rgb(78,160,255);
    background-image: url(../img/pattern.png);
    background-size: 300px;
}

#logo{
    width: 150px;
    padding-top: 30px;
    padding-bottom: 5px;
}

/*main*/
h1{
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
}

.dati-articolo{
    color: rgb(148, 142, 142);
    font-weight: 600;
}

#autore{
    text-decoration: none;
    color: rgb(80,187,234);
}

/* bonus:
.centrare {
    margin-left: 30px;
    margin-right: 30px;
} */