*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

/* header */

.banner{
    background-color: rgb(58, 150, 236);
    background-image: url(../img/pattern.png);
    background-size: 300px;
}

#logo{
    width: 150px;
    padding-top: 30px;
    padding-bottom: 5px;

}

/*main*/